Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [2]:
# (i) string
s = "world"

In [3]:
# (ii) list
l = [1, 2, 3]

In [4]:
# (iii) float
f = 3.2

In [6]:
# (iv) tuple
t = (1, 2, 3)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [8]:
var1 = ' '
type(var1)

str

In [10]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [11]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [12]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [14]:
# (i) / : division operator
4 / 2

2.0

In [16]:
# (ii) % : modulus operator that gives remainder
4 % 2

0

In [17]:
# (iii) // : floor operator gives quotient
4 // 2

2

In [18]:
# (iv) ** : power operator
2**2

4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
l = [1, 0.1 , True, 2+4j, 'books', None, (1, 2), [1, 2], {1, 2}, range(10)]

for i in l:
  print(f' The data type of element {i} is {type(i)}')

 The data type of element 1 is <class 'int'>
 The data type of element 0.1 is <class 'float'>
 The data type of element True is <class 'bool'>
 The data type of element (2+4j) is <class 'complex'>
 The data type of element books is <class 'str'>
 The data type of element None is <class 'NoneType'>
 The data type of element (1, 2) is <class 'tuple'>
 The data type of element [1, 2] is <class 'list'>
 The data type of element {1, 2} is <class 'set'>
 The data type of element range(0, 10) is <class 'range'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
A = int(input())
B = int(input())

if A % B == 0:
  print(f"The number A is {A//B} times divisible by number B")

20
5
The number A is 4 times divisible by number B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
l2 = [1, 2, 3, 6, 9, 12, 5, 10, 15, 4, 8, 16, 12, 18, 7, 14, 21, 24, 10, 20, 30, 11, 22, 33, 42 ]
print(f' Length of list l2 is {len(l2)}')
for i in l2:
  if i % 3 == 0:
    print(f'{i} is divisible by 3')
  else:
    print(f'{i} is not divisible by 3')

 Length of list l2 is 25
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
5 is not divisible by 3
10 is not divisible by 3
15 is divisible by 3
4 is not divisible by 3
8 is not divisible by 3
16 is not divisible by 3
12 is divisible by 3
18 is divisible by 3
7 is not divisible by 3
14 is not divisible by 3
21 is divisible by 3
24 is divisible by 3
10 is not divisible by 3
20 is not divisible by 3
30 is divisible by 3
11 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
42 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [33]:
# Mutable Objects :  Mutable objects are those objects whose value at a particular index can be replaced with a new value e.g list
l3 = ['a', 'b', 'c']
print(l3)
print(f'value at first index of list l3 is {l3[1]}')
l3[1] = 'X'
print(f"Now value at first index of l3 is replaced with 'X' and the list l3 is:")
print(l3)

['a', 'b', 'c']
value at first index of list l3 is b
Now value at first index of l3 is replaced with 'X' and the list l3 is:
['a', 'X', 'c']

In [35]:
# Immutable Objects : Immutable objects are those objects whose value at a particular index can not be replaced with a new value e.g string
s2 = "Earth"
print(s2)
print(f'value at first index of list l3 is {s2[1]}')
print(f"Now when we try to change the value 'a' at first index of string s2 with 'X' then it will throw an error saying: 'str' object does not support item assignment")
s2[1] = 'X'

Earth
value at first index of list l3 is a
Now when we try to change the value 'a' at first index of string s2 with 'X' then it will throw an error saying: 'str' object does not support item assignment

TypeError: ignored