Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans:

MongoDB is document based non-structured database under the NoSQL category.

It is non-relational databse which means it does not follow table (row and column) format for storing data. It sores data in JSON like documents (key-value pair).

MongoDB is used for storing non-structured data, big data and real-time application (e.g. data related to Kafka topics)

Q2. State and Explain the features of MongoDB.

Ans:

1) Storing data in document format (JSON format) without any predefined schema. JSON format has key-value pair format like dictionary in python, therefore, can be easily queried through MongoDB query.

2) MQL is the query language support for quering data stored in MongoDB.

3) MongoDB facilitates indexing which helps is parsing data efficietnly.

4) MongoDB supports aggregation framework through which complex quering can be perfomred e.g building pipeline.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 11.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 25.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [2]:
# Connecting to MnogDB
import pymongo
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri) # Creating a new client and connect to the server; client is connection url

try: # Sending a ping to confirm a successful connection
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

# Creating databaed by the name of 'pwskills'
db = client['pwskills']

# Creating a collection
coll_pwskills = db["my_collection"]

Pinged your deployment. You successfully connected to MongoDB!

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
# a record

data1 = {"name": "Mrityunjay",
        "class": "Data Science",
        "time": "Flexi"
        }

# many records

data2 = [
{ "name": "Amy", "address": "Apple st 652" },
{ "name": "Hannah", "address": "Mountain 21" },
{ "name": "Michael", "address": "Valley 345" },
{ "name": "Sandy", "address": "Ocean blvd 2" },
{ "name": "Betty", "address": "Green Grass 1" },
{ "name": "Richard", "address": "Sky st 331" },
{ "name": "Susan", "address": "One way 98" },
{ "name": "Vicky", "address": "Yellow Garden 2" },
{ "name": "Ben", "address": "Park Lane 38" },
{ "name": "William", "address": "Central st 954" },
{ "name": "Chuck", "address": "Main Road 989" },
{ "name": "Viola", "address": "Sideway 1633" }
]

# Inseting a record

coll_pwskills.insert_one(data1)

In [4]:
# Inserting many records (set 1)

coll_pwskills.insert_many(data2)

In [6]:
# using find() method to print all records

for i in coll_pwskills.find():
  print(i)

{'_id': ObjectId('64a11441d940da6888bef023'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a11464d940da6888bef024'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a11464d940da6888bef025'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a11464d940da6888bef026'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a11464d940da6888bef028'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a11464d940da6888bef029'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a11464d940da6888bef02a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a11464d940da6888bef02b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a11464d940da6888bef02c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a11464d940da6888bef02d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a11464d940da6888bef02e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a11464d940da6888bef02f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a14bd1723822faf48bbc65'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a14bd6723822faf48bbc66'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a14bd6723822faf48bbc67'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a14bd6723822faf48bbc68'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a14bd6723822faf48bbc6b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a14bd6723822faf48bbc6c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a14bd6723822faf48bbc6d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a14bd6723822faf48bbc6f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a14bd6723822faf48bbc70'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a14bd6723822faf48bbc71'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a1a78d384e4815f757cb11'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a1a78d384e4815f757cb12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a1a78d384e4815f757cb13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a1a78d384e4815f757cb14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a1a78d384e4815f757cb17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a1a78d384e4815f757cb18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a1a78d384e4815f757cb19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a1a78d384e4815f757cb1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a1a78d384e4815f757cb1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a1a78d384e4815f757cb1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [7]:
# using find_one() method to print a record

coll_pwskills.find_one()

{'_id': ObjectId('64a11441d940da6888bef023'),
 'name': 'Mrityunjay',
 'class': 'Data Science',
 'time': 'Flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans:

find() method can be used to get all documents in the database. Also, filter criteria can be set in the find method to get the selected documents. Examples -

In [8]:
# Filter documents using find method

for i in coll_pwskills.find({'name': 'Sandy'}):
  print(i)

{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [9]:
# Printing all documents using find method

for i in coll_pwskills.find():
  print(i)

{'_id': ObjectId('64a11441d940da6888bef023'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a11464d940da6888bef024'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a11464d940da6888bef025'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a11464d940da6888bef026'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a11464d940da6888bef028'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a11464d940da6888bef029'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a11464d940da6888bef02a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a11464d940da6888bef02b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a11464d940da6888bef02c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a11464d940da6888bef02d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a11464d940da6888bef02e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a11464d940da6888bef02f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a14bd1723822faf48bbc65'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a14bd6723822faf48bbc66'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a14bd6723822faf48bbc67'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a14bd6723822faf48bbc68'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a14bd6723822faf48bbc6b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a14bd6723822faf48bbc6c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a14bd6723822faf48bbc6d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a14bd6723822faf48bbc6f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a14bd6723822faf48bbc70'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a14bd6723822faf48bbc71'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a1a78d384e4815f757cb11'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a1a78d384e4815f757cb12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a1a78d384e4815f757cb13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a1a78d384e4815f757cb14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a1a78d384e4815f757cb17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a1a78d384e4815f757cb18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a1a78d384e4815f757cb19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a1a78d384e4815f757cb1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a1a78d384e4815f757cb1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a1a78d384e4815f757cb1d'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans:

sort() method is used in conjuction with find method to sort the document on specific criteria.

In the example demonstrated below we get all documents from the find method and sort them alphabetically by 'name' by giving key ('name') and ascending order (1) in the sort method.

In [10]:
for i in coll_pwskills.find().sort([('name', 1)]):
  print(i)

{'_id': ObjectId('64a11464d940da6888bef024'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a14bd6723822faf48bbc66'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a1a78d384e4815f757cb12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a11464d940da6888bef02c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a14bd6723822faf48bbc6e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a1a78d384e4815f757cb1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a11464d940da6888bef028'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a14bd6723822faf48bbc6a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a1a78d384e4815f757cb16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a11464d940da6888bef02e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a14bd6723822faf48bbc70'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a1a78d384e4815f757cb1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a11464d940da6888bef025'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a14bd6723822faf48bbc67'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a1a78d384e4815f757cb13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a11464d940da6888bef026'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a14bd6723822faf48bbc68'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a1a78d384e4815f757cb14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a11441d940da6888bef023'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a14bd1723822faf48bbc65'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a1a78d384e4815f757cb11'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a11464d940da6888bef029'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a14bd6723822faf48bbc6b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a1a78d384e4815f757cb17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a11464d940da6888bef02a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a14bd6723822faf48bbc6c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a1a78d384e4815f757cb18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a11464d940da6888bef02b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a11464d940da6888bef02f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a14bd6723822faf48bbc71'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a1a78d384e4815f757cb1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a11464d940da6888bef02d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a14bd6723822faf48bbc6f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a1a78d384e4815f757cb1b'), 'name': 'William', 'address': 'Central st 954'}

Similarly, we can arranged the result is descending order by 'name' by giving key ('name') and descending order (-1) in the sort method.

In [11]:
for i in coll_pwskills.find().sort([('name', -1)]):
  print(i)

{'_id': ObjectId('64a11464d940da6888bef02d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a14bd6723822faf48bbc6f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a1a78d384e4815f757cb1b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a11464d940da6888bef02f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a14bd6723822faf48bbc71'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a1a78d384e4815f757cb1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a11464d940da6888bef02b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a11464d940da6888bef02a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a14bd6723822faf48bbc6c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a1a78d384e4815f757cb18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a11464d940da6888bef029'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a14bd6723822faf48bbc6b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a1a78d384e4815f757cb17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a11441d940da6888bef023'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a14bd1723822faf48bbc65'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a1a78d384e4815f757cb11'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a11464d940da6888bef026'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a14bd6723822faf48bbc68'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a1a78d384e4815f757cb14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a11464d940da6888bef025'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a14bd6723822faf48bbc67'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a1a78d384e4815f757cb13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a11464d940da6888bef02e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a14bd6723822faf48bbc70'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a1a78d384e4815f757cb1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a11464d940da6888bef028'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a14bd6723822faf48bbc6a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a1a78d384e4815f757cb16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a11464d940da6888bef02c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a14bd6723822faf48bbc6e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a1a78d384e4815f757cb1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a11464d940da6888bef024'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a14bd6723822faf48bbc66'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a1a78d384e4815f757cb12'), 'name': 'Amy', 'address': 'Apple st 652'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() :  This command is used to delete first occurrence of a document based on the filter criteria passed on delete_one() method.

In [12]:
coll_pwskills.delete_one({'name' : 'Amy'})

We can see that out of three recors with name Amy, now only two exists now.

In [16]:
for i in coll_pwskills.find().sort([('name', 1)]):
  print(i)

{'_id': ObjectId('64a14bd6723822faf48bbc66'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a1a78d384e4815f757cb12'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a11464d940da6888bef02c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a14bd6723822faf48bbc6e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a1a78d384e4815f757cb1a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a11464d940da6888bef028'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a14bd6723822faf48bbc6a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a1a78d384e4815f757cb16'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a11464d940da6888bef02e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a14bd6723822faf48bbc70'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a1a78d384e4815f757cb1c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a11464d940da6888bef025'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a14bd6723822faf48bbc67'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a1a78d384e4815f757cb13'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a11464d940da6888bef026'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a14bd6723822faf48bbc68'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a1a78d384e4815f757cb14'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a11441d940da6888bef023'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a14bd1723822faf48bbc65'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a1a78d384e4815f757cb11'), 'name': 'Mrityunjay', 'class': 'Data Science', 'time': 'Flexi'}
{'_id': ObjectId('64a11464d940da6888bef029'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a14bd6723822faf48bbc6b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a1a78d384e4815f757cb17'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a11464d940da6888bef027'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc69'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb15'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a11464d940da6888bef02a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a14bd6723822faf48bbc6c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a1a78d384e4815f757cb18'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a11464d940da6888bef02b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a14bd6723822faf48bbc6d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a1a78d384e4815f757cb19'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a11464d940da6888bef02f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a14bd6723822faf48bbc71'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a1a78d384e4815f757cb1d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a11464d940da6888bef02d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a14bd6723822faf48bbc6f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a1a78d384e4815f757cb1b'), 'name': 'William', 'address': 'Central st 954'}

delete_many() :  This method deletes all documents that match the filter criteria.

In [17]:
coll_pwskills.delete_many({'name' : 'Amy'})

We can check iby find method that all the records with name Amy are deleted from the collection.

In [19]:
for i in coll_pwskills.find({'name' : 'Amy'}):
  print(i)

drop() : This method removes the particular collection from the MongoDB database.

In [20]:
coll_pwskills.drop()

We can check collections list and find that it has no longer any collection by the name of coll_pwskills.

In [22]:
db.list_collection_names()

['my_records', 'my order', 'my_record', 'my record']