Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:

Database is a server where data is stored and accessed by user for its effective use and manipulations.

SQL database is a database which store structured dataset in the form of row and columns with defined schema and can be accessed through structured Query Langauge (SQL).

NoSQL database is a database which does not store dataset in a structured way (row and columns) and does not follow any fixed schema. There are different kind of NoSQL databases as per different datastructures and they require different query lnaguages. For example - MongoDB for JSON like data, Graphy for data which are connnected by internodes etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:

DDL stands for Data Definition Language in SQL. Its key statements are - CREATE, DELETE, ALTER and TRUNCATE.

CREATE: This command helps in creating a new table. An example:


        CREATE TABLE students(
          id INT PRIMARY KEY,
          name VARCHAR(50) NOT NULL,
          class INT NOT NULL,
          position INT
        )

ALTER: This command helps in altering the structure of database. Operations like adding, dropping, renaming and changing datatype. An example:


        ALTER TABLE students
        RENAME COLUMN position to rank

DROP: This commands helps in deleting both both the structure and records in the table. An example:


        DROP TABLE students

TRUNCATE: This commands helps in delting all the data of the table, therefore makes table empty.


        TRUNCATE TABLE students

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:

DML stands for Data Manipulation Language. Commands under this umbrella help in inserting, updating and deleting data from table.

INSERT:  This command helps in inserting data in a row. An example:

      INSERT INTO students(name, class, rank)
      VALUEs('Mrityunjay', 12, 10)

UPDATE:  This command helps in updating existing data in a table.

      UPDATE students
      SET rank = 9
      WHERE name = 'Mrityunjay'

DELETE: This commands helps in deleting row(s) from a table.

      DELETE FROM students
      WHERE name = 'Mrityunjay'

Q4. What is DQL? Explain SELECT with an example.

Ans:

DQL command (SELECT) helps in fetching the data from the database. SELECT commands all the data from table.


SELECT * FROM students

Q5. Explain Primary Key and Foreign Key.

Ans:

Primary Key: Primary key is a column in the table that sets each row of table unique, in other words, sets each row unique as there is no any duplicate and null value is associated with any promary key.

For example, we can set id as a primary key for customer table as it helps indentifying each row (student) uniquely.

    CREATE TABLE students(
      id INT PRIMARY KEY,
      name VARCHAR(50) NOT NULL,
      class INT NOT NULL,
      position INT
    )


Foreign Key: Foreign key column is defined in a tbale that references to the primary key of the other table.



    CREATE TABLE school_library(
    library_id INT REFERENCES students(id),
    book_issued VARCHAR(100)
    )

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans: Python code to connect MySQL to python:

    import mysql.connector

    mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
    )

cursor() : With cursor object through SQL queries we can interact with database and retreive results.

  cursor = mydb.cursor()

execute() : This is run through cursor object and helps in running SQL queries. After query the result can be accessed using the fetchall command.

    
    cursor.execute("SELECT * FROM students")
    
    for i in cursor.fetchall() :
    print(i)

Q7. Give the order of execution of SQL clauses in an SQL query.


    import mysql.connector

    mydb = mysql.connector.connect(
      host="localhost",
      user="abc",
      password="password"
    )

    cursor = mydb.cursor()
    
    cursor.execute("select * from students")
    for i in cursor.fetchall() :
        print(i)

    mydb.close()